repository:
  visibility: private
  default_branch: main

  has_issues: true
  has_projects: false
  has_discussions: false
  has_wiki: false

  allow_squash_merge: true
  allow_merge_commit: false
  allow_rebase_merge: false

  delete_branch_on_merge: true

branches:
  - name: main
    protection:
      required_pull_request_reviews:
        required_approving_review_count: 1
      required_linear_history: true
      enforce_admins: false